<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sentry</title>
  <!-- Favicon stuff -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600|Lato:300,400,900' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-social.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="/static/css/theme.css">

  <style type="text/css">
    .header-img {
      margin: 0 auto;
      display: block;
      max-width: 400px;
    }

    #headerwrap {
      padding-top: 0;
      min-height: initial;
    }

    #headerwrap h1 {
      text-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    }

    #headerwrap h2 {
      color: white;
      text-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    }

    .btn-social i {
      margin: 0;
      color: white;
    }

    .navbar-default {
      background-color: rgb(197, 16, 36);
    }

    .btn-get-started {
      color: #fff;
      background-color: #444;
      border-color: rgba(0,0,0,0.2);
      font-size: 1.6em;
      padding: 10px 1em;
    }

    #headerwrap .header-btn {
      text-align: center;
      margin-top: 40px;
    }

    h4 {
      margin-top: 0;
    }

    .btn-repo {
      min-width: 100px;
    }

    .navbar-fixed-top {
      z-index: 1;
    }

    .content div.container:nth-of-type(1)  {
      padding-top: 75px;
    }

    .configure-repo-form textarea {
      width: 100%;
      resize: false;
      min-height: 300px;
      font-family: monospace;
    }

    #alerts.alerts-index {
      position: absolute;
      margin-top: 5px;
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
      z-index: 1;
    }

    .repoName {
      margin-bottom: 20px;
    }

    .repoName .name {
      font-family: Lato;
      font-size: 1.3em;
      font-weight: 500;
    }

    .repoName .label {
      vertical-align: text-top;
      margin-left: 5px;
      margin-right: 5px;
    }

    .repoName .configure {
      vertical-align: super;
      font-weight: 400;
    }

    .repoName .configure:hover {
      text-decoration: underline;
    }

  </style>

  {{renderSection 'styles'}}

</head>
<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><b>// Sentry</b></a>
      </div>
       <ul class="nav navbar-nav navbar-right">
        <li>
          {{#if user}}
          <a class="navbar-brand" href="/logout"><b>Log out</b></a>
          {{else}}
          <a class="navbar-brand" href="/login"><b>Log in</b></a>
          {{/if}}
        </li>
        </ul>
    </div>
  </div>

  <div class="content">
      <div id="alerts" class="container {{#if isIndex}}alerts-index{{/if}}">
      <div class="row">
      {{#if hasFlashes}}
        {{#each errorFlashes}}
          <div class="col-sm-12 alert alert-danger alert-dismissable">{{this}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        {{/each}}
        {{#each successFlashes}}
          <div class="col-sm-12 alert alert-success alert-dismissable">{{this}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        {{/each}}
      {{/if}}
      </div>
      </div>
    {{{body}}}
  </div>

  <footer class="container">
    <hr>
      <p class="centered">Created by <a href="http://fabiofleitas.com/">Fabio Fleitas</a> &amp; <a href="http://www.isibner.me/">Ian Sibner</a> @ <a href="http://2015s.pennapps.com/">PennApps 2015</a>
      <br>
      {{#if isIndex}}
        Image by <a href="http://www.markmurphycreative.co.uk/">Mark Murphy Creative</a>
      {{/if}}
    </p>
  </footer>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

  {{renderSection 'scripts'}}

</body>
</html>
